run:
  trigger: manual
  max_candidates_per_run: 10

screening:
  required:
    - valid_license_and_transportation
    - within_20_miles_south_jordan
  preferred:
    - cna_certification
    - cpr_first_aid
    - home_care_experience
    - care_facility_experience
    - family_caregiving_experience
  disqualifying: []

scheduling:
  cold_candidate_days: 3
  hiring_team_emails: []  # Add team member emails to include on phone screen invites

messages:
  interview_request: "Hi {FIRST_NAME}, thank you for applying to Firstlight Home Care! We'd love to set up a quick phone call. Please use the link below to schedule a time that works for you."

google_drive:
  recruiting_root_folder_id: ""
  checkback_folder_id: ""
  rejected_folder_id: ""
  interview_template_sheet_id: ""
  run_log_doc_id: ""

google_sheets:
  tracker_spreadsheet_id: ""

slack:
  recruiting_channel: "#recruiting"
